body {
    font-family: 'Open Sans', sans-serif;
}

.img-cont {
  position: absolute;
  background-image: url('resources/background.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;

  filter: blur(3px);
}

.welcome-jumbo {
  position: absolute;
  width: 100%;
  opacity: 0.9;
  top: 15%;
  text-align: center;
}

.welcome-owl {
  width: 125;
  height: 149;
}

.welcome-buttons {
  transform: translateX(38%);
}

.butt {
  margin-right: 2%;
}

.page-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: #f0ad4e;
  opacity: 0.9;
  font-size: 1.5rem;
  font-weight: 300;
  color: #FFF;
  padding: 10px 0;
}
