body {
    font-family: 'Verdana', 'Open Sans', sans-serif;
}

.img-cont {
  position: absolute;
  background-image: url('resources/background.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(3px);
}

.welcome-jumbo {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.welcome-owl {
  display: block;
  margin: 0 auto;
  width: 10%;
  height: auto;
}

.welcome-buttons {
  text-align: center;
}

.butt {
  margin-right: 5px;
  margin-left: 5px;
}

.page-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: rgba(240, 173, 78, 0.6);
  color: #FFF;
}
