body {
    font-family: 'Verdana', 'Open Sans', sans-serif;
}

.img-cont {
  position: absolute;
  background-image: url('resources/background.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(3px);
}

.welcome-jumbo {
  position: absolute;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  border-radius: 10px;
  padding: 5rem;

  /* Center accordingly */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-owl {
  margin: 0 auto;
  width: 10%;
  height: auto;
}

.welcome-buttons {
  text-align: center;
}

.butt {
  margin-right: 5px;
  margin-left: 5px;
}

.page-footer {
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: rgba(240, 173, 78, 0.6);
  color: #FFF;
}

.filter-sidebar {
  height: 100%;
  background-color: white;
  border: 0;
  border-right: 1px solid #e7e7e7;
  border-radius: 0;
}

.criteria .dropdown-toggle {
  font-size: medium;
  color: #777;
}

.criteria .dropdown-menu {
  position: static;
  float: none;
  width: auto;
  margin-top: 0;
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

.course {
  border-bottom: 1px solid #e7e7e7;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.image-placeholder {
  background: url('resources/171x180.png') no-repeat center center;
  height: 180px;
  margin-top: 1rem;
}

.course-description {
  text-align: center;
}

.course-image{
  background: url('resources/course-image.png');
  height:300px;
  width:300px;

}

.col-requirements{
  margin-top:1rem;
  border-radius: 10px;
  border-style:ridge;
  border-color: #4D4D4D;
  background-color: #E8A73F;
  color: #000000;
  font-size: 20px;
}

.col-videos{
  margin-top:1rem;
}
